In [3]:
# Import Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [4]:
# Import data file
divvy_df = pd.read_csv('Divvy_Trips_2019_Q4.csv')
divvy_df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,2215,940.0,20,Sheffield Ave & Kingsbury St,309,Leavitt St & Armitage Ave,Subscriber,Male,1987.0
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,6328,258.0,19,Throop (Loomis) St & Taylor St,241,Morgan St & Polk St,Subscriber,Male,1998.0
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,3003,850.0,84,Milwaukee Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Female,1991.0
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,3275,"2,350.0",313,Lakeview Ave & Fullerton Pkwy,290,Kedzie Ave & Palmer Ct,Subscriber,Male,1990.0
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,5294,"1,867.0",210,Ashland Ave & Division St,382,Western Ave & Congress Pkwy,Subscriber,Male,1987.0

In [7]:
divvy_df.shape

(704054, 12)

In [11]:
# Remove null rows (if needed)

In [12]:
# Convert birthyear to age

In [27]:
# Split date from time for easier trend analysis (specifically for busiest days/times)

In [28]:
# Number of unique bikes in circulation

divvy_df['bikeid'].nunique()

5670

In [29]:
# Bike IDs with most activity

divvy_df['bikeid'].value_counts()

5886    283
4832    273
1889    270
4848    267
1100    266
       ...
805       1
3909      1
2985      1
6710      1
786       1
Name: bikeid, Length: 5670, dtype: int64

In [31]:
# Most popular starting stations
divvy_df['from_station_name'].value_counts()

Canal St & Adams St                     12937
Clinton St & Madison St                 10580
Clinton St & Washington Blvd             9834
Columbus Dr & Randolph St                7723
Kingsbury St & Kinzie St                 7326
                                        ...
Stony Island Ave & South Chicago Ave        2
Carpenter St & 63rd St                      1
Ashland Ave & 66th St                       1
Seeley Ave & Garfield Blvd                  1
Elizabeth St & 59th St                      1
Name: from_station_name, Length: 610, dtype: int64

In [44]:
# Most popular ending stations

divvy_df['to_station_name'].value_counts()

Canal St & Adams St               12812
Clinton St & Washington Blvd      11051
Clinton St & Madison St           10360
Streeter Dr & Grand Ave            8820
Kingsbury St & Kinzie St           7172
                                  ...
Carpenter St & 63rd St                3
Seeley Ave & Garfield Blvd            2
South Chicago Ave & 83rd St           2
Elizabeth St & 59th St                2
South Chicago Ave & Elliot Ave        1
Name: to_station_name, Length: 608, dtype: int64

In [52]:
# Most popular trips *still in-progress*
popular_stations = divvy_df.groupby(['from_station_name','to_station_name'])['from_station_name','to_station_name']
popular_stations.count()

<ipython-input-52-7c8dd4d5ce32>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  popular_stations = divvy_df.groupby(['from_station_name','to_station_name'])['from_station_name','to_station_name']

                                                 from_station_name  \
from_station_name    to_station_name
2112 W Peterson Ave  2112 W Peterson Ave                         5
                     Benson Ave & Church St                      1
                     Broadway & Berwyn Ave                       1
                     Broadway & Granville Ave                    2
                     Broadway & Ridge Ave                        1
...                                                            ...
Yates Blvd & 75th St Phillips Ave & 79th St                      1
                     South Shore Dr & 71st St                    4
                     South Shore Dr & 74th St                    2
                     Stony Island Ave & 75th St                  1
                     Yates Blvd & 75th St                        5

                                                 to_station_name
from_station_name    to_station_name
2112 W Peterson Ave  2112 W Peterson Ave                       5
                     Benson Ave & Church St                    1
                     Broadway & Berwyn Ave                     1
                     Broadway & Granville Ave                  2
                     Broadway & Ridge Ave                      1
...                                                          ...
Yates Blvd & 75th St Phillips Ave & 79th St                    1
                     South Shore Dr & 71st St                  4
                     South Shore Dr & 74th St                  2
                     Stony Island Ave & 75th St                1
                     Yates Blvd & 75th St                      5

[67357 rows x 2 columns]

In [30]:
# Groupby usertype for ridership breakdown

usertype_df = divvy_df.groupby('usertype')
usertype_df.count()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,gender,birthyear
usertype,,,,,,,,,,,
Customer,106194,106194,106194,106194,106194,106194,106194,106194,106194,44658,45265
Subscriber,597860,597860,597860,597860,597860,597860,597860,597860,597860,592805,597108

In [ ]:
# Create calculation for average trip duration

In [ ]:
# Summary statistics by each user type:
# - Gender %
# - Age groups and bins for histogram
# - Average trip duration